/* .work-timer {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
} */

div.row {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: #ffcc33;
  padding: 10px;
}

.work-timer.h1.header {
  font-family: 'Amatic SC', cursive;
  color: white;
}

h1.header {
  font-family: 'Amatic SC', cursive;
  color: white;
}
