.ui.text.container.row, h1 {
  padding-top: 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: #ffcc33;
}

h1 {
  font-size: 50px;
  color: white;
}

#text-field {
  padding-top: 150px;
}

#text-field input {
  width: 130px;
  text-align: center;
  background-color: #40bf80;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#text-field ::placeholder {
  color: red;
  font-weight: 900;
}

#text-field button {
  color: #ffcc33;
  background-color: #002266;
  font-family: 'Amatic SC', cursive;
}


#text-field button span {
  position: relative;
  bottom: 10px;
  font-size: 15px;
}